	
	/* Tästä alkaa tyyliosio, täältä voit vaihtaa sivuston värejä ja ulkonäköä.
	Olen  kommentoinut tänne muutaman kohdan jota voi vaihtaa kouluusi sopivaksi.*/
body {
  width: 100%;
  margin: 0;
}
html {
  width: 100%;
  margin: 0;
}
	
#image {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    overflow: auto;
	}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
} 
#SchoolModal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  font-family: oswald;
  text-align: center;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content > h1 {
  color: black !important;
}
.modal-content > a {
  text-decoration: none;
  color: black;
}
.modal-content > a:hover {
  cursor: pointer;
  text-decoration: none;
  color: lightblue;
}
.close {
	background-color: white;
	float: right;
	margin-right: 0;
	font-size: 2em;
}
.close:hover {
	cursor: pointer;
	background-color: #d8d8d8;
	color: red;
}
.modal-content {
  margin: auto;
  width: 80%;
}
	.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: rgba(0,0,0,0.5)
}

.item1 {
  grid-row: 1 / span 3; /* tässä kohtaa määritellään että pystysuuntainen kuva on kolmen normaalinkuvan korkuinen */
}
#picture1 {
    max-width: 100%;
    height: auto;
}
.pictures:hover {
	filter: blur(2px);
}
.pictures {
    max-width: 100%;
    height: auto;;
}
#salainen {
	color: black;
	text-decoration: none;
	cursor: text;
}
.bottom {
  grid-row: 2;
}
.bottom1 {
  grid-row: 3;
}
.cookie {
	transition: 0.5s;
	animation: fadein 0.5s;
	color:white;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	position: sticky;
	bottom: 30px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width:960px) {  

                  .ajat {
  font-size:9vw;
  font-family: "Oswald";
  display: flex;
  justify-content: center;
  }
  
  .noShake {
  width:3em;
}

.ajat > p {
margin:2%;
}
#menuContainer {
	position: fixed;
	width: 100% ;
	z-index: 2;
	top: 0;
}
#content {
	margin-top: 12vw ; 
}
 #menu {
       display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
		height: 10vw;
        width: 100%;
        text-align: center;
        background-color: white;
        align-items: center;
  }
    #logo{font-family:"Margarine";
display: flex;
margin:0;
margin-left:auto;
font-size:6vw;
  }
  #menuBtn {
    display: block;
    height: 8vw;
    margin-right: 2em;
  }
  #places {
	background-color: #f6f6f6;
	width: 40vw;
    display: none;
    margin: 0;
	height: 100vw;
	padding-top: 1em;
  justify-content: center;
  align-content: center;
    flex-direction: column;
  }
  #places > a {
	border-bottom: solid;
	border-bottom-width: 1px;
	border-color: #ddd;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
   text-decoration: none;
   color: black;
  margin:0;
  margin-bottom: 1em;
  font-size: 20px;
  font-family: oswald;
}
}
#tilastot {
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center; 
	flex-direction: column;
	font-family: oswald;
	}
.result {
	font-size: 3em;
	color: red; /* Tilastojen negatiivisen vastauksen väri */
}
.positiveResult {
	font-size: 3em;
	color: green; /* Positiivisen vastauksen väri */
}
.kysely {
	display: flex;
	justify-content: center;
}
#cookie {
	position: sticky;
	bottom:0;
}
#show {
	text-align: center;
	font-family: oswald;
}
#checkboxes {
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-wrap: wrap;
}
.alaotsikot {
  color: white;
  text-shadow: black 3px 3px 2px;
}

.ajat > p {
  text-shadow: black 3px 3px 2px;
  color: white
}
.ajat {
  background-color: rgba(0,0,0, 0.3);
}
html{ 
	background:url("paiva.jpg") no-repeat center center fixed;
	  }
	  
.alaotsikot {
	font-family: oswald;
        display: flex;
        justify-content: center;
        font-size:4vw;
        margin-top: 0;
}
#menu > a:hover{
color: blue;
}
@media (min-width:960px) { 
#menuBtn {
    display: none;
  }
#places {
  display: flex;
  justify-content: center;
  background-color: white;
}
#places > a {
   text-decoration: none;
   color: black;
  margin-left:1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-family: oswald;
}
#logo{font-family:"Margarine";
display: flex;
margin-top: 0;
margin-bottom: 0;
justify-content: center;
font-size:8vw;
}

  .ajat {
  font-size:6em;
  font-family: "Oswald";
  display: flex;
  justify-content: center;
  }
  .noShake {
  width:3em;
}
.ajat > p {
margin:2%;
}
#dynaaminenNappi {
	cursor: pointer;
}
}
}
	
