	 html {
	background:url("darkmono.JPG") no-repeat center center fixed !important;
	  }
	  h1  {
		  color: white !important;
	  }
	   h2  {
		  color: white !important;
	  }
	 #show {
		 color: white;
	 }
	 #logo, #salainen {
		 color: white !important;
	 }
	#menuBtn {
		filter: invert(100%);
}
	#menu {
		background-color: #272727 !important;
}
	 #places {
		  background-color: #272727 !important;
		 border-color: black !important;
	 }
	 #places > a {
		 background-color: #272727 !important;
		    color: white !important;
			border-color: black !important;
	 }
