:root {
    --seperator-color: #4389f9;
    --menu-color: transparent ;
    --mobile-menu-color: white;
    --places-color: white;
    --border-color: #ddd;
    --text-color: black;
    --quick-color: rgba(255,255,255,0.5);
    --quick-invert-color: rgba(0,0,0,0.5);
    --login-bg: rgba(255,255,255,0.3);
    --invert-amount: 0%;
    --chat-primary: #223142;
    --chat-secondary: #31465F;
    --noka-light-bg-img: url("trianglify.svg");
    --noka-dark-bg-img: url("Dark.svg");
    --vantti-light-bg-img: url("trianglify.svg");
    --vantti-dark-bg-img: url("vanttiyo.png");
    --lauri-light-bg-img: url("paivalauri-min.jpg");
    --lauri-dark-bg-img: url("lauriyo.jpg");
    --hauki-light-bg-img: url("haukipaiva.jpg");
    --hauki-dark-bg-img: url("haukiyo.jpg");
    --none-light-bg-img: url("nonepaiva.png");
    --none-dark-bg-img: url("noneyo.jpg");
    --background-image: url("trianglify.svg");
}


body, html {
    height: 100%;
  }
.loader {
   padding: 1em;
   height: auto !important;
   justify-content: flex-start;
}
.loader-inner {
    display: flex;
    justify-content: center;
}
.square-spin > div {
    background: var(--seperator-color) !important;
    border:solid 1px var(--text-color) !important;
    height: 3em !important;
    width: 3em !important;
    max-height: 50px;
    max-width: 50px;
}
.chatContainer {
    width: 60em;
    height: 40em;
    background-color: var(--chat-primary);
    position: relative;
}
 .chatModal {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.9);
     z-index: 2;
 }
 .chatModal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
 }
#typingDiv{
    display: flex;
    justify-content: space-between;
    height: 3em;
}
.Stat {
    color: white;
    font-family: Oswald;
    font-size: 1.5em;
    margin: 0.1em;
    padding: 0em 1em 0em 1em;
}
#StatDiv {
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, var(--chat-primary), var(--chat-secondary));
    padding-bottom: 3px;
    z-index: 1;
}
#typingDiv {
    height: 3em;
    background: var(--chat-primary);
}
@media(min-width: 960px) {
    .chatModal-content {
        top: 50%;
        left: 50%;
        width: 40% !important;
        transform: translate(-50%, -50%);
     }
    .Stat {
        font-size: 1.5em;
        margin: 0.1em;
        padding: 0em 1em 0em 1em;
    }
}
@media(max-width: 960px) {
    .chatModal-content {
        top: 50%;
        left: 50%;
        width: 100% !important;
        transform: translate(-50%, -50%);
        max-width: 600px;
     }
     .chatModal-content input {
         width: 80%;
     }
    .chatContainer {
        height: 85vh;
    }
    .chatModal-content {
        padding: 1em !important; 
    }
    .Stat {
        font-size: 3vw;
        margin: 0.1em;
        padding: 0em 1em 0em 1em;
        font-family: 'Roboto-mono', monospace; 
    }
    #typingDiv > p {
        font-size: calc(4px + 2vw);
    }
    .chatModal-content > h1 {
        font-size: 5vw;
    }
    .chatModal-content > form {
        max-width: 93%;
        display: inline-block;
        font-size: 2vw;
    }
    .btn {
        font-size: 3vw;
    }
}
#tekstiAlue {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 3em;
}
#tekstiAlue > input {
    width: 100%;
    border-radius: 10px 0px 0px 0px;
}
#tekstiAlue button {
    height: 100%;
    width: 6em;
    background-color:var(--chat-secondary);
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 0px 0px;
}
#chatArea {
    width: 100%;
    height: 100%;
}
#messages {
    height: calc(100% - 2em - 3em );
    position: absolute;
    bottom: 2em;
    width: 100%;
    overflow: auto;
}
#messages li {
    padding: 5px 10px;    
    list-style-type: none; 
    margin: 0;
    padding: 0;
    color: whitesmoke;
    word-wrap: break-word;
    max-width: 100%;
}
#messages li:nth-child(2n) {
    background-color: var(--chat-secondary);
}
#messages li:last-of-type {
    padding-bottom: 1em;
} 

#show {
    width: 100%;
}
#foodListPos {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
#foodList {
    color: black !important;
}
#foodList >h1 {
    color: black !important;
}

.quickBox {
    
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    background-color: var(--quick-color);
    opacity: 0;
    height: 100%;
}
.quickBox.corona {
    box-shadow: red 0px 0px 10px 2px;
}
.corona.ajat {
    background-color: rgba(95, 0, 0, 0.514) !important;
}
.quickBox.active {
    animation: disappearLeft 1s;
    opacity: 0;
}
@keyframes appearLeft {
    0% {
        opacity: 0;
        transform: translate(-40px,0px)
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px)
    }
}
@keyframes disappearLeft {
    0% {
        opacity: 1;
        transform: translate(0px,0px)
    }

    100% {
        opacity: 0;
        transform: translate(-40px,0px)
    }
}
.quickBox.anim {
    animation: appearLeft 1s;
    opacity: 1;
}
.quickBoxLeft {
    width: 90%;
    font-family: Oswald;
}
.quickBoxLeft.full {
    width: 100%;
}
.quickTitle {
    padding-left: 1em;
    padding-top: 0.5em;
    border-bottom: 1px solid var(--seperator-color);
    height: 2em;
    margin: 0;
    grid-row: 1;
}
.quickBoxLeft .alaotsikot {
    font-size: calc(10px + 2.5vw);
    color: var(--text-color);
    text-shadow: none;
}
.quickBoxLeft .ajat {
    background-color: var(--quick-invert-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-monospace', monospace;
}
.quickBoxRight {
    height: 100%;
    border-left: 1px solid var(--seperator-color);
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickBoxRight:hover {
    background-color: var(--quick-invert-color);
}
.quickBoxRight:hover .arrow > svg {
    filter: drop-shadow(0px 0px 15px var(--seperator-color));
}
.quickContent {
    grid-row: -1 / span 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    position: relative;
}
.quickText {
    background-color: var(--quick-invert-color);
    width: 100%;
    margin-bottom: 0;
    color: white;
    grid-row: 2;
    font-size: 1.5em;
}
.quickLoader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.quickChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.miniChat {
    height: 100%;
    width: 100%;
    background-color: var(--chat-secondary);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}
.miniChat > h3 {
    margin: 0;
    padding: 0.25em 0 0.25em 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
}
.miniChat > p {
    margin: 0.5em 0 0 0;
    word-break: break-all
}
.quickChat > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-monospace', monospace;
}
.quickChat img {
    height: 0.5em;
}
.arrow {
    display: inline-block;
}
#peli {
    border: 0;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(80vw - (80vw - 70vh));
    top: 0;
}

#foodList {
    width: 50vw;
    background-color: white;
    padding: 2em;
    text-align: left;
    display: none;
}
h1, h2, h3, #show, #logo, #salainen, .linkLookALike  {
    color: var(--text-color);
}
.menuBtn {
    filter: invert(var(--invert-amount));
    height: 100%;
    display: flex;
    align-items: center;
}
.quickContainerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3em;
}
.quickContainer {
    display: grid;
    max-width: 2500px;
    width: 100%;
    gap: 1em 0em;
}
.quickImage {
    background-color: var(--quick-invert-color);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickTilastot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quickImage > img {
    height: 100%;
    position: absolute;
    transition: 0.2s;
    transition-property: opacity;
}

@media(max-width: 960px) {
    .menuBtn {
        display: flex;
    }
    .menuBtn > svg {
        height: 7vw;
    }
    .quickText {
        font-size: 3vw;
    }
    .miniChat {
        font-size: 3vw !important;
    }
    .quickBox {
        margin-left: 1em;
        margin-right: 1em;
    }
    .quickChat > div {
        font-size: 13vw;
    }
    .quickContent {
        height: 10em;
    }
    .arrow > svg {
        width: 6vw;
    }
    .quickTitle {
        font-size: calc(10px + 3vw);
    }
    .quickBoxLeft .alaotsikot {
        font-size: calc(10px + 2.5vw);
        color: var(--text-color);
        text-shadow: none;
    }
    .quickBoxLeft .ajat {
        font-size: calc(10px + 6vw);
        
    }
    .quickContainer {
        grid-template-columns: 100%;
    }
    #foodList {
        width: 100vw;
    }
    #menu {
        background-color: var(--mobile-menu-color) ;
        transition: 2s;
        transition-property: background-color;
    }
    
}
@media(min-width: 960px) {
    .quickText {
        font-size: 1.5em;
    }
    .miniChat {
        font-size: 1em !important;
    }
    .quickBox:nth-child(odd) {
        margin-left: 1em;
        margin-right: 1em;
    }
    .quickBox:nth-child(even) {
        margin-left: 0em;
        margin-right: 1em;
    }
    .quickChat > div {
        font-size: 5em;
    }
    .quickContent {
        height: 15em;
    }
       .quickBoxLeft .alaotsikot.corona {
        font-size: 2.25em;
    }
    .quickBoxLeft .alaotsikot {
        font-size: 3em;
        color: var(--text-color);
        text-shadow: none;
    }
    .quickContainer {
        grid-template-columns:  50% 50% ;
    }
    #foodList {
        width: 50vw;
    }   
    #menu {
        background-color: var(--menu-color) ;
    }
    .quickBoxLeft .ajat {
        font-size: 3.5em;
        
    }
}
#places {
    background-color: var(--places-color) !important;
   border-color: var(--border-color) !important;
}
#places > a {
    background-color: var(--menu-color) !important;
       color:  var(--text-color) !important;
       border-color: var(--border-color) !important;
}

#peli {
    border: 0;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(80vw - (80vw - 70vh));
    top: 0;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block;
    }

    .checkbox label::before {
        height: 16px;
        width: 16px;
        background-color: rgb(255,255,255);
        background-color: rgba(255,255,255,0.3);
        transition: 0.2s ease-in-out;
        border: 1px solid;
        left: 0;
        top: 3px;
    }

.checkbox input[type="checkbox"].check + label::before {
    background-color: rgb(0,0,255);
    background-color: rgba(0,0,255,0.3);
}

.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"].check + label::after {
    content: "";
}

.checkbox input[type="checkbox"]:hover + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}




.close {
    color: black;
    background-color: white;
    position: fixed;
    top: 10px;
    width: 1em;
    display: flex;
    justify-content: center;
    right: 25px;
    font-size: 2em;
    font-weight: bold;
}

    .close:hover {
        cursor: pointer;
        background-color: #d8d8d8;
        color: red;
    }

body {
    width: 100%;
    margin: 0;
}

html {
    width: 100%;
    margin: 0;
}

#image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    overflow: auto;
}
.modal:empty {
    display: none;
}
.modal{
    display: blocK;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#SchoolModal {
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    font-family: oswald;
    text-align: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

    .modal-content > h1 {
        color: black !important;
    }

    .modal-content > a {
        text-decoration: none;
        color: black;
    }

        .modal-content > a:hover {
            cursor: pointer;
            text-decoration: none;
            color: lightblue;
        }



.modal-content {
    margin: auto;
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.item1 {
    grid-row: 1 / span 3; /* tässä kohtaa määritellään että pystysuuntainen kuva on kolmen normaalinkuvan korkuinen */
}
.modal.image {
        display: none;
        flex-direction: column;
        padding: 20px;
        width: 100vw;
        background-color: rgba(0,0,0,0.8);
}
.modal-content.image {
    margin: auto;
    width: 80%;
    display: flex;
    font-family: oswald;
    text-align: center;
    background-color: transparent ;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 80%;
}
.modal-content.image > img {
    border: solid 2px var(--seperator-color);
}
#picture1 {
    max-width: 98%;
    height: auto;
}

.pictures:hover {
    margin: 0;
    border: solid 5px var(--seperator-color);
    filter: grayscale(50%) blur(0.5px);
}

.pictures {
    max-width: 98%;
    height: auto;
    padding-right: 2px;
    border: solid 5px transparent;
}

#salainen {
    text-decoration: none;
    cursor: text;
}

.bottom {
    grid-row: 2;
}

.bottom1 {
    grid-row: 3;
}

.cookie {
    transition: 0.5s;
    animation: fadein 0.5s;
    text-align: center;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    position: sticky;
    bottom: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes example {
    from {
        margin: 6px;
    }

    to {
        position: fixed;
        bottom: 0;
    }
}


.login {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--login-bg);
}
.login h1 {
    color: var(--text-color);
}
.darkIcon {
    transition: 0.5s filter ease-out;
}
.loginOptions {
    box-shadow: 0px 0px 20px var(--seperator-color);
}
.loginOptions > h2{
    color: black;
}
.ajat p {
    font-family: "Roboto Mono", monospace;
}
@media (max-width:960px) {
    .darkIcon {
        display: inline-block;
        background-color: var(--login-bg);
        border-radius: 10px;
        margin: 1em;
        transform: rotate(-45deg);
        height: 10vw;
        filter: hue-rotate(0) drop-shadow(0 0 10px var(--seperator-color));
    }
    .darkIcon:hover {
        filter: hue-rotate(150deg) drop-shadow(0 0 10px var(--seperator-color));
    }
    .login {
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding: 0 1em;
        width: 100vw;
        min-height: 100vh;
        font-size: 4.25vw;
        font-family: Oswald;
    }
    .loginOptions h2 {
        font-size: 1.5em;
    }
    .loginOptions {
        background-color: white;
        font-size: 1.3em;
        box-sizing: border-box;
        padding: 0 2em 2em 1em;
        display: flex;
        flex-direction: column;
        border: solid;
        width: auto;
        height: auto;
    }
    .loginOptions > a {
        color: black;
    }
    .loginOptions > a:hover {
        color: grey;
    }

    .milliseconds {
        width: 3em;
    }

    #the-canvas {
        width: 100vw;
    }

    .ajat {
        font-size: 6vw;
        letter-spacing: 0;
        display: flex;
        justify-content: center;
    }

    .noShake {
        width: 3em;
    }

    .ajat > p {
        margin: 2%;
    }

    #menuContainer {
        position: fixed;
        width: 100%;
        z-index: 99;
        top: 0;
    }

    #content {
        margin-top: 12vw;
    }

    #menu {
        display: flex;
        border-bottom: solid 1px;
        border-color: var(--seperator-color);
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 10vw;
        width: 100%;
        text-align: center;
    }

    #logo {
        font-family: "Margarine";
        display: flex;
        margin: 0;
        font-size: 8vw;
        transition: 0.2s; 
        transition-property: margin;
    }
    #logo.offCenter {
        margin: auto;
    }

    #menuBtn {
        display: inline-block;
        cursor: pointer;
    }

    #places {
        display: none
    }

        .linkLookALike {
            background: none!important;
            border: none;
            padding: 0!important;
            cursor: pointer;
            border-bottom: solid;
            border-bottom-width: 1px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            margin: 0;
            margin-bottom: 0.5em;
            font-size: 20px;
            font-family: oswald;
            border-color: var(--border-color) !important;
            width: 100%;
        }
}

#tilastot {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-family: oswald;
    background-color: rgba(255,255,255,0.2);
}

.result {
    font-size: 3em;
    color: red; /* Tilastojen negatiivisen vastauksen väri */
}

.positiveResult {
    font-size: 3em;
    color: green; /* Positiivisen vastauksen väri */
}

.kysely {
    display: flex;
    justify-content: center;
}

#cookie {
    position: sticky;
    bottom: 0;
}

#show {
    text-align: center;
    font-family: oswald;
}

#checkboxes {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.ajat > p {
    text-shadow: black 3px 3px 2px;
    color: white
}

.ajat {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
}

.theEnd > .ajat {
    background-color: rgb(255,0,0) !important;
    background-color: rgba(255,0,0, 0.3) !important;
}

html {
    background: var(--background-image) no-repeat center center fixed;
    background-size: cover;
}

.alaotsikot {
    font-family: oswald;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    margin-top: 0;
}

#menu > a:hover {
    color: blue;
}
@media (min-width:960px) {
    .darkIcon {
        position: absolute;
        right: 0;
        margin: 0.5em;
        transform: rotate(-45deg);
        height: 1.5em;
        filter: hue-rotate(0) drop-shadow(0 0 2px var(--seperator-color));
    }
    .darkIcon:hover {
        filter: hue-rotate(150deg) drop-shadow(0 0 2px var(--seperator-color));
    }
    .login {
        box-sizing: border-box;
        padding: 0 1em;
        width: 1000px;
        min-width: 20vw;
        max-width: 60vw;
        min-height: 100vh;
        font-size: 28px;
        font-family: Oswald;
        margin-left: 2em;
        border-left: 3px solid var(--border-color);
        border-right: 3px solid var(--border-color);
    }
    .loginOptions {
        background-color: white;
        font-size: 0.8em;
        box-sizing: border-box;
        padding: 0 1em 2em 1em;
        display: flex;
        flex-direction: column;
        border: solid;
        width: 20em;
        height: auto;
        max-height: 50em;
        overflow: auto;
    }
    .loginOptions > a {
        color: black;
        
    }
    .loginOptions > a:hover {
        color: grey;
    }
    .menuBtn {
        display: none
    }
    .milliseconds {
        width: 3em;
    }

    #anotherPage {
        display: none;
    }

    #places {
        display: flex !important;
        justify-content: center;
        background-color: white;
    }

        #places > a {
            text-decoration: none;
            margin: 0 1em 0 1em;
            font-size: 20px;
            font-family: oswald;
        }
        .linkLookALike {
            background: none!important;
            border: none;
            padding: 0!important;
            cursor: pointer;
            text-decoration: none;
            margin: 0 1em 0 1em;
            font-size: 20px;
            font-family: oswald;
        }
    #logo {
        font-family: "Margarine";
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        font-size: 8vw;
    }

    .ajat {
        font-size: 5em;
        font-family: "Roboto Mono", monospace;
        letter-spacing: 0;
        display: flex;
        justify-content: center;
    }

    .noShake {
        width: 3em;
    }

    .ajat > p {
        margin: 2%;
    }

    #dynaaminenNappi {
        cursor: pointer;
    }
}
